@model FirstDrink.Models.Countries
@{
    ViewBag.Title = "ShowCountry";
}

<h2>Country: @Model.name</h2>
<br />

<h3>Population: @Model.population</h3>
<h3>Population: @Model.religion</h3>

